<!-- * Essaie des driven template forms avec ([ngModel])
 

<mat-form-field>
  <mat-label> my test </mat-label>
  <input matInput [(ngModel)]="birthday" placeholder="enter a birthday" />
</mat-form-field> 

<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Pays</mat-label>
    <input
      aria-label="pays"
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form> 

 <div *ngIf="birthday">
  {{ birthday | myAge }}
</div> 

! fin des driven template forms création et implementation du pipe custsom | myAge * -->

<section class="container-fluid">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Nom</mat-label>
        <input
          type="text"
          matInput
          placeholder="Enter your name"
          formControlName="nom"
        />
        <mat-icon matSuffix>people</mat-icon>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Prénom</mat-label>
        <input
          matInput
          placeholder="Enter your first name"
          formControlName="prenom"
          type="text"
        />
        <mat-icon matSuffix>people</mat-icon>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Surnom</mat-label>
        <input matInput placeholder="your pseudo" formControlName="pseudo" />
        <mat-icon matSuffix>people</mat-icon>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Date de naissance</mat-label>
        <input
          type="date"
          matInput
          placeholder="Placeholder"
          formControlName="dateDeNaissance"
        />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="Enter your email"
          formControlName="email"
          type="email"
          required
        />
        <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
        <mat-icon matSuffix>mail</mat-icon>
      </mat-form-field>
    </p>
    <p class="adresse">
      <mat-form-field appearance="fill">
        <mat-label>Adresse</mat-label>
        <input
          type="text"
          matInput
          placeholder="Enter your adress"
          formControlName="adresse"
        />
        <mat-icon matSuffix>home</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Ville</mat-label>
        <input
          type="text"
          matInput
          placeholder="Enter your City"
          formControlName="adresse"
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Code Postale</mat-label>
        <input
          type="text"
          matInput
          placeholder="Enter your post code"
          formControlName="adresse"
        />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input
          matInput
          placeholder="your password"
          formControlName="password"
          required
        />
        <mat-error *ngIf="password.invalid">{{ getErrorMessage() }}</mat-error>
        <mat-icon matSuffix>lock</mat-icon>
        <mat-hint> mininum 8 maximum 12 </mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Confirmez password</mat-label>
        <input
          matInput
          placeholder="password"
          formControlName="confirmPassword"
          type="password"
        />
        <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>
    </p>
    <p>
      <button type="button" class="ajouter" mat-mini-fab (click)="addSkill()">
        <mat-icon>add</mat-icon>
      </button>
      <ng-container formArrayName="skills">
        <div *ngFor="let item of skills.controls; index as i">
          <input class="champs" [formControlName]="i" />
          <button
            type="text"
            class="supprimer"
            mat-mini-fab
            color="accent"
            (click)="deleteSkill(i)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </ng-container>
    </p>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="userForm.invalid"
    >
      Valider
    </button>
  </form>
</section>
