<section>
  <mat-card class="card">
    <mat-card-title-group class="header">
      Les prévisions météo
    </mat-card-title-group>
    <mat-card-content *ngIf="meteo && meteo.rue">
      <p class="rue">{{ meteo.rue }}</p>
      <p class="zip-code">{{ meteo.codePostale }}</p>
      <div class="ville">
        <p>{{ meteo.ville }}</p>
      </div>
      <p>{{ meteo.temperature }} °C</p>
    </mat-card-content>

    <mat-card-actions>
      <button
        type="button"
        mat-raised-button
        color="accent"
        (click)="onOpendModal()"
      >
        <mat-icon>map</mat-icon>
      </button>
      <button
        type="button"
        mat-raised-button
        color="primary"
        (click)="onGetPosition()"
      >
        <mat-icon>place</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</section>
