.left-side {
    box-sizing: border-box;
    background-color: peru;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    a {
        padding: 10px;
        text-decoration: none;
        color: black;
        font-size: 1.2rem;
        font-family: Georgia, 'Times New Roman', Times, serif;
        transition: all 0.3s ease-in;
        transform-origin: left;

        &:hover {
            transform: scale(1.05);
            color: whitesmoke;
        }
    }
}