<section class="left-side">
  <a routerLink="/overview/profile" routerLinkActive="active">
    <mat-label class="label">Profile</mat-label>
    <mat-icon>settings_accessibility</mat-icon>
  </a>
  <a routerLink="/overview/chat" routerLinkActive="active">
    <mat-label class="label">Chat</mat-label>
    <mat-icon>forum</mat-icon>
  </a>
  <a routerLink="/overview/directory" routerLinkActive="active">
    <mat-label class="label">Directory</mat-label>
    <mat-icon>folder_open</mat-icon>
  </a>
  <a routerLink="/overview/finder" routerLinkActive="active">
    <mat-label class="label">Finder</mat-label>
    <mat-icon>social_distance</mat-icon>
  </a>
</section>
