<h1 class="text-primary" mat-dialog-title>Vos informations</h1>
<mat-list *ngIf="data && data.firstName">
  <mat-list-item> {{ data | json }} </mat-list-item>
  <img
    mat-card-avatar
    [src]="data.avatar"
    height="250px"
    width="250px"
    alt="je suis la"
  />
  <mat-list-item> Prénom :{{ data.firstName }}</mat-list-item>
  <mat-list-item> Nom :{{ data.lastName }} </mat-list-item>
  <mat-list-item> Pseudo : {{ data.username }} </mat-list-item>
  <mat-list-item> Email :{{ data.email }} </mat-list-item>

  <div *ngFor="let skill of data.skills">
    <mat-list-item> My skills : {{ skill }} </mat-list-item>
  </div>
</mat-list>
