.utilisateurs {
  .rechercher {
    margin: 5px 0;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 1.1em;
    input {
      padding: 5px;
    }
  }

  .eachUser {
    padding: auto;
    height: 15vh;
    width: 100%;
    border: 1px bisque solid;
    box-shadow: 2px 2px 5px black;
    border-radius: 10px;
    margin: 5px 0;
    background: linear-gradient(
      to right,
      rgba(19, 100, 167, 0.486),
      rgb(19, 70, 155, 0.48)
    );
    .firstname {
      color: grey;
      text-transform: capitalize;
      font-size: small;
    }
    .name {
      text-transform: uppercase;
    }
    .mail {
      font-size: x-small;
    }

    .city {
      padding: 10px 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
}
