<section class="utilisateurs">
  <mat-list class="cursor-pointer">
    <mat-list-item
      (click)="onOpenDialog(person)"
      *ngFor="let person of userData"
    >
      <mat-card>
        <div class="profile">
          <span mat-line>{{ person.id }}</span>
          <img mat-list-avatar [src]="person.avatar" alt="Profil d'avatar" />
        </div>
        <div class="infosUser">
          <div class="firstname" mat-line>{{ person.first_name }}</div>
          <div class="name" mat-line>{{ person.last_name }}</div>
          <div class="mail" mat-line>{{ person.email }}</div>
        </div>
      </mat-card>
    </mat-list-item>
  </mat-list>
</section>

<!-- <div class="card_container">

    <mat-card class="user_card card" *ngFor="let person of userData ">

      <mat-card-header>
        <img
          [src]="person.avatar"
          mat-card-avatar />
        <mat-card-title>
            {{person.last_name}}
        </mat-card-title>
        <mat-card-subtitle>
            {{person.first_name}} 
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p>
            {{person.email}}
        </p>
        <p>


        </p>
      </mat-card-content>
  
    </mat-card>
  
  </div>
 -->
