<section class="utilisateurs container">
  <mat-form-field class="rechercher" appearance="outline">
    <input
      type="text"
      matInput
      [formControl]="searchBar"
      placeholder="Rechercher un ami"
    />
    <mat-icon class="search" matSuffix>search</mat-icon>
  </mat-form-field>
  <div class="slide-toggle">
    <mat-slide-toggle color="primary" [(ngModel)]="isChecked">
      <div id="toggle">
        {{ isChecked ? "Everyone" : "My friends" }}
      </div>
    </mat-slide-toggle>
  </div>

  <!-- ** tout le monde est affiché-->

  <div *ngIf="isChecked" class="card_container">
    <mat-list class="cursor-pointer">
      <mat-list-item class="left" *ngFor="let people of newArray">
        <mat-list-item *ngIf="newArray && newArray.length > 0" class="user">
          <div class="avatar">
            <img mat-card-avatar [src]="getAvatar(people.avatar)" />
          </div>
          <mat-list-item class="infos-user">
            <div mat-line class="firstname">
              {{ people.firstName }}
            </div>
            <div mat-line class="lastname">{{ people.lastName }}</div>
          </mat-list-item>

          <div
            [ngClass]="{ 'on-line': people.online, 'off-line': !people.online }"
          ></div>
          <mat-card-actions class="btn-up">
            <button
              (click)="onAddFriend(people)"
              type="submit"
              mat-mini-fab
              color="warn"
              class="add-person"
            >
              <mat-icon id="add">add</mat-icon>
            </button>
            <button (click)="onOpenDialog(people)" mat-button color="primary">
              <mat-icon id="chat">chat</mat-icon>
            </button>
          </mat-card-actions>
        </mat-list-item>
      </mat-list-item>
    </mat-list>
  </div>

  <!-- ** mes amis affichés -->

  <div *ngIf="!isChecked || notFriend" class="card_container">
    <mat-list class="cursor-pointer">
      <mat-list-item class="user right" *ngFor="let ami of amis; let i = index">
        <mat-list-item *ngIf="amis && amis.length > 0">
          <div class="avatar friend-avatar">
            <img
              mat-list-avatar
              [src]="getAvatar(ami.avatar)"
              alt="Profil d'avatar"
            />
          </div>

          <mat-list-item class="infos-user">
            <div mat-line class="firstname second">
              {{ ami.firstName }}
            </div>
            <div mat-line class="lastname third">{{ ami.lastName }}</div>
            <div
              [ngClass]="{
                'on-line': ami.online,
                'off-line': !ami.online
              }"
            ></div>
          </mat-list-item>
          <mat-card-actions>
            <button (click)="onOpenDialog(ami)" mat-button color="primary">
              <mat-icon id="second-chat">chat</mat-icon>
            </button>
            <button
              id="supprimer"
              (click)="onDeleteFriend(i, ami)"
              type="submit"
              mat-mini-fab
              color="warn"
            >
              <mat-icon id="remove">person_remove</mat-icon>
            </button>
          </mat-card-actions>
        </mat-list-item>
      </mat-list-item>
    </mat-list>
  </div>
</section>

<!-- ! essaie avant la database requete sur api reqres et randomuser -->

<!-- <div *ngIf="prenom && prenom[0]" class="mon-profil">
<div>
  <img mat-card-avatar [src]="user.avatar" alt="">
</div>
<div>
<p>{{prenom[0]}}</p>
<p>{{prenom[1]}}</p>
</div>
</div>
 -->
<!-- <button (click)="onUsers()" mat-raised-button class="show-users"> <mat-icon>people</mat-icon> </button>
  <button (click)="onFriends()" mat-raised-button class="show-friends"> <mat-icon>person</mat-icon> </button> -->

<!-- <div class="mail" mat-line>{{ people.email }}</div> -->
<!-- <div class="city" mat-line>
              {{ people|json}}
              <mat-icon>place</mat-icon>

            </div> -->

<!-- <div class="mail" mat-line>{{ ami.email }}</div>
            <div class="city" mat-line>
              {{ ami.city }}
              <mat-icon>place</mat-icon>

            </div> -->
