<section class="container">
  <form class="formulaire" [formGroup]="meteoForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Rue</mat-label>
      <input
        type="text"
        matInput
        placeholder="Nom de rue"
        formControlName="rue"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Code Postale</mat-label>
      <input
        type="text"
        matInput
        placeholder="Zip code"
        formControlName="codePostale"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Ville</mat-label>
      <input type="text" matInput placeholder="Ville" formControlName="ville" />
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Valider</button>
  </form>

  <div class="spinner" *ngIf="show">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</section>
