@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Righteous&display=swap");

// ** font-family: 'Poppins', sans-serif;font-family: 'Righteous', cursive;

.right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(19, 100, 167);
  box-sizing: border-box;
  padding: 10px;
  height: 100vh;
  width: 100%;
  .log-out {
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: bisque;
    font-size: smaller;
  }
  .mat-icon {
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      color: red;
      transform: scale(1.3);
    }
  }
}
