<form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
  <section class="container-fluid">
    <mat-card class="card">
      <mat-card-title class="text-primary">LOGIN</mat-card-title>
      <mat-card-subtitle>Loggez vous ou enregistrez vous!</mat-card-subtitle>

      <mat-list>
        <mat-list-item>
          <mat-form-field appearance="legacy">
            <mat-label> Votre email</mat-label>
            <input
              matInput
              placeholder="email"
              formControlName="email"
              required
            />
            <mat-icon matSuffix> person_outline</mat-icon>
          </mat-form-field>
        </mat-list-item>
        <mat-list-item>
          <mat-form-field>
            <mat-label> Mot de passe</mat-label>
            <input
              matInput
              formControlName="password"
              placeholder="password"
              required
            />
            <mat-hint
              >entrez un mot de passse entre 8 et 12 caractères</mat-hint
            >
            <mat-icon matSuffix>how_to_reg</mat-icon>
          </mat-form-field>
        </mat-list-item>
      </mat-list>
      <mat-card-actions class="btns">
        <button
          (click)="onClick()"
          type="button"
          mat-raised-button
          color="primary"
        >
          Register
        </button>

        <button mat-flat-button [disabled]="loginForm.invalid" color="warn">
          Login
        </button>
      </mat-card-actions>
    </mat-card>
  </section>
</form>
