section {
  background: url(/assets/images/bg-login.png);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  .card {
    margin: auto;
    padding: 15px 5px;
    box-sizing: border-box;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(196, 240, 255, 0.59);
    border: 1px solid black;
    filter: drop-shadow(2px 2px 1px rgb(154, 149, 149));
    .mat-icon {
      filter: drop-shadow(2px 2px 1px rgb(154, 149, 149));
    }
    .btns {
      margin-top: 15px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      padding: 5px;
    }
  }
}
