<section>
  <mat-card>
    <mat-card-title> Informations </mat-card-title>
    <mat-card-content>
      Voulez vous vraiment discuter avec cette personne?
    </mat-card-content>
    <mat-list class="user-infos">
      <img mat-card-avatar [src]="dataUser.avatar" alt="" />
      <div class="prenom">
        {{ dataUser.firstName }}
      </div>
      <div class="nom">
        {{ dataUser.lastName }}
      </div>
    </mat-list>

    <mat-card-actions class="btns">
      <button
        mat-raised-button
        color="accent"
        (click)="onNoClick()"
        type="button"
      >
        Non
      </button>
      <button
        mat-flat-button
        color="primary"
        type="button"
        (click)="onYesClick()"
      >
        Oui
      </button>
    </mat-card-actions>
  </mat-card>
</section>
