section {
  padding: 5px;
.mat-card{
  background: bisque;
}
  .user-infos {
    img{
      border: 1px solid rgb(204, 204, 241);
      filter: drop-shadow(2px 2px 2px black);
    }
    margin: 5px 0;
    display: flex;
    flex-flow:column wrap;
    align-items: center;
    text-align: center;
    .prenom{
      padding: 5px 0;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: small;
    }
    .nom{
      padding: 2px 0;
      font-size: 1.2em;
      text-transform: uppercase;
      color: grey;
    }
  }
  .btns{
    display: flex;
    justify-content: space-between;
  }
}

