@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Righteous&display=swap");

// ? font-family: 'Poppins', sans-serif; font-family: 'Righteous', cursive;

.sous-titre {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  h1 {
    font-family: "Poppins", sans-serif;
    color: whitesmoke;
  }
  img {
    border-radius: 50%;
    border: 1px solid white;
  }
}
p {
  margin: 0;
  padding: 0;
  line-height: 30px;
}
.infos-utilisateur {
  display: flex;
  justify-content: center;
  align-items: center;
  #details {
    color: white;
    background: rgba(128, 128, 128, 0.556);
    backdrop-filter: blur(10px);
    font-family: "Poppins", sans-serif;
    border-radius: 5px;
    width: 30%;
    height: 50%;
    span {
      &:nth-child(1) {
        font-family: "Righteous", cursive;
        margin-right: 10px;
        color: bisque;
      }
    }
  }
}
