section {
  display: flex;
  height: 30vh;
  width: 100%;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  .avatar {
    img {
      border-radius: 50%;
      border: 1px solid black;
      filter: drop-shadow(2px 3px 3px rgb(48, 113, 211));
    }
  }
  .infosUser {
    .nom {
      font-size: 1.2em;
      font-weight: 600;
    }
    .prenom {
      text-align: center;
    }
  }
}
