section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 100vh;
  width: 40vw;
  #top-chat-bar {
    margin: 10px 0;
  }

  .discussion {
    display: flex;
    align-items: space-between;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    color: black;

    .gauche {
      display: flex;
      align-self: flex-start;
      .ses-messages {
        text-transform: capitalize;
      }

      .dates {
        font-size: 9px;
        text-transform: lowercase;
        color: rgb(102, 0, 0);
        background-color: rgba(255, 255, 255, 0.093);
        border-radius: 50%;
      }
      .visible {
        visibility: collapse;
      }
    }

    .droite {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .mes-messages {
        text-transform: capitalize;
      }

      .date {
        font-size: 9px;
        text-transform: lowercase;
        color: black;
        background-color: rgba(255, 255, 255, 0.093);
        border-radius: 50%;
      }

      .show {
        visibility: hidden;
      }
    }

    .mat-chip {
      padding: auto;
      margin: 10px;
      height: auto;
      width: fit-content;
      line-height: auto;
      p {
        margin: 0 5px;
        padding: 0 10px;
        display: flex;
        align-items: center;
      }
    }
    #from-other {
      background-color: #43b1ec;
    }
    #from-me {
      background-color: #1563a7;
    }
  }

  .msg-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(140, 161, 202);
    width: 100%;
    padding: 8px 15px;
    border-radius: 5px;
    outline: auto;
    .mat-icon {
      cursor: pointer;
      filter: drop-shadow(2px 2px 1px black);
    }
  }
}
