<section *ngIf="dataUsers && dataUsers.username" class="container-fluid">
  <app-top-bar-chat id="top-chat-bar" [users]="dataUsers"></app-top-bar-chat>

  <div class="discussion" #scrollMe [scrollTop]="scrollMe.scrollHeight">
    <div *ngFor="let message of messagesReceived">
      <div class="gauche">
        <mat-chip-list>
          <div *ngIf="message.userID.username == dataUsers.username">
            <mat-chip id="from-other" selected>
              <img mat-card-avatar [src]="dataUsers.avatar" alt="" />
              <p class="ses-messages">{{ message.content }}</p>
            </mat-chip>

            <p class="dates">
              {{ message.date | date: "short" }}
            </p>
          </div>
        </mat-chip-list>
      </div>
      <div class="droite">
        <mat-chip-list>
          <div *ngIf="message.userID.username !== dataUsers.username">
            <mat-chip (click)="onShow()" id="from-me" selected>
              <p class="mes-messages">
                {{ message.content }}
              </p>
            </mat-chip>
            <div [ngClass]="{ show: !show }">
              <p class="date">
                {{ message.date | date: "short" }}
              </p>
            </div>
          </div>
        </mat-chip-list>
      </div>
    </div>
  </div>
  <div class="msg-container">
    <input
      placeholder="Ecrivez un message"
      type="text"
      matInput
      [formControl]="msgContainer"
      (keypress)="onMessagesSend($event)"
    />
    <mat-icon (click)="onSend()">send</mat-icon>
  </div>
</section>

<!-- ** test avec une api pour simuler une discussion ----------------

       <div *ngIf="dataUsers && dataUsers.firstName>
      <div
        class="chat"
        *ngFor="
          let msg of jokes;
          let isLast = last;
          let isOdd = odd;
          let isEven = even
        "
      >
        <p class="gauche" *ngIf="isOdd">
          <mat-chip-list>
            <mat-chip color="accent" selected>{{ msg.setup }}</mat-chip>
          </mat-chip-list>
        </p>
        <p class="droite">
          <mat-chip *ngIf="isEven" color="primary" selected>{{
            msg.punchline
          }}</mat-chip>
        </p>
        <p class="droite">{{ msg.newSetup }}</p>
        <p class="gauche" *ngIf="isLast">
          <mat-chip-list>
            {{ msg.newPunchline }}
          </mat-chip-list>
        </p>
      </div>
    </div> ** ------------------------------->
